@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SansationB";
    src: url("../public/assets/fonts/sansation/Sansation_Bold.ttf");
  }
  @font-face {
    font-family: "SansationR";
    src: url("../public/assets/fonts/sansation/Sansation_Regular.ttf");
  }
  @font-face {
    font-family: "GothamBook";
    src: url("../public/assets/fonts/Spotify-Font/GothamBook.ttf");
  }
  @font-face {
    font-family: "GothamM";
    src: url("../public/assets/fonts/Spotify-Font/GothamMedium.ttf");
  }
  @font-face {
    font-family: "GothamB";
    src: url("../public/assets/fonts/Spotify-Font/Gotham-Bold.otf");
  }

  html {
    background: linear-gradient(
      265.52deg,
      #000000 19.44%,
      #020010 61.84%,
      #00000c 93.39%
    );
    @apply text-[#DEE2F3];
    @apply font-["GothamBook"];
  }
}

.sidebarGradient {
  background: linear-gradient(
    89.61deg,
    #001f41 -2.92%,
    rgba(0, 31, 65, 0.5) 99.65%
  );
}

.cyanBtnGradient:hover {
  background: linear-gradient(266.74deg, #72cbcb -12.76%, #00b3b3 95.76%);
}
.cyanBtnGradient {
  background: linear-gradient(274.46deg, #00b3b3 1.44%, #72cbcb 97.53%);
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
